<h1>Arras - Veuillez confirmez votre Email</h1>

<p>
    Bonjour et merci pour votre inscription sur notre site, pour finaliser celle ci, veuillez cliquer sur le lien suivant:<br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt!
</p>