{% apply inline_css %}
<style>
    h1 {
        color: #ff851b;
    }
</style>

<h1>Nouveau Dossier</h1>
<br />Identifiant: {{id}}
<br />Nom: {{nom}}
<br /><a href="http://s3-4428.nuage-peda.fr/Site1/public/private-admin">Cliquez ici pour aller voir le dossier en détail</a>{% endapply %}