{% apply inline_css %}
<style>
    h1 {
        color: #ff851b;
    }
</style>

<h1>Votre carte d'identitée est disponible </h1>
<br />
<p> Afin de récupérer votre nouvelle carte d'identitée, veuillez vous rapprocher de la mairie d'Arras.</p>{% endapply %}