{% apply inline_css %}
<style>
    h1 {
        color: #ff851b;
    }
</style>

<h1>Votre dossier a été pris en charge</h1>
<br />
<p>Votre dossier a été accepté et pris en charge par la mairie d'Arras</p>{% endapply %}