{% apply inline_css %}
<style>
    h1 {
        color: #ff851b;
    }
</style>

<h1>Votre dossier a été refusé</h1>
<br />
<p>Votre dossier a malheuresement été refusé, nous vous invitons a revoir les informations que vous avez founis dans celui ci et de le soumettre à nouveau.</p>{% endapply %}}